.password-form {
    display: flex;
    flex-direction: column;
}
.input-wrapper {
    position: relative;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn{
    width: 150px;
}
#second-enter-password{
    margin-bottom: 5px;
}
#errorText{
    color: red;
    margin-left: 80px;
    margin-bottom: 5px;
    text-transform: uppercase;
    visibility: hidden;
}
